.banner-section{
    background:url("../imgs/1\ 2.jpg"); 
    opacity: .6;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-size:cover; 
    background-position:0;}

.post-title-block h1 {color: black; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: black;}

